---
import Layout from '../layouts/Layout.astro';
import Header from '../sections/Header.astro';
import HeroContent from '../sections/HeroContent.astro';
---
<Layout title="Glosery Store">
	<Header/>
	<main>
		<HeroContent/>
	</main>
</Layout>