---
interface Props {
    link:string
}
const {link} = Astro.props
console.log(link)
---
<li class="">
    <a class="links text-sm flex flex-col items-center py-4 border-b-4 border-solid border-transparent hover:bg-gray-100" href="/">
        <svg class="w-7 stroke-mountain fill-transparent transition-colors duration-300" viewBox="0 0 24 24" stroke="none" stroke-width="2" fill="none" slot="icon" xmlns="http://www.w3.org/2000/svg">
            <slot name="icon"/>
        </svg>
    </a>
</li>

<style>
    a.active{
        @apply border-salmon bg-transparent;
        svg{
            @apply fill-salmon stroke-salmon;
        }
    }
</style>