---

---

<header>
    <div class="w-11/12 mx-auto py-5">
        <section class="flex items-center justify-between">
            <a class="text-2xl font-semibold text-salmon" href="/"
                >Finest<span class="text-mustard">Mart</span></a
            >
            <a class="bg-salmon px-4 py-2 text-white rounded-md" href="#"
                >Sign Up</a
            >
        </section>
        <nav></nav>
    </div>
</header>
